@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins, Helvetica, serif;
    background-color: #121314;
    color: #3DAC78;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#posts {
    background-color: #3C4142;
    border-radius: 1em;
}

#profile-picture {
    height: 3em;
    border-radius: 8em;
    border: 0.1em solid #3DAC78;
    margin: 0;
}

#post-container {
    margin: 1.5em;
}

#post-container > * {
    display: inline-block;
}

#post-title {
    font-weight: bold;
    color: white;
    padding: 0.3em;
    margin: 0 0.5em 0 0.5em;
    text-decoration-line: underline;
    text-decoration-color: #3DAC78;
}

#post-details {
    margin-left: 2em;
}

#reactions {
    display: inline;
}

#timestamp {
    float: right;
    margin: 0.3em;
    font-size: 0.8em;
}

img {
    margin-bottom: 1.5em;
    vertical-align: top;
}

span {
    width: 40vh;
    display: block;
    background-color: #222324;
    border-radius: 0.5em;
    padding: 0.5em;
    color: white;
    word-wrap: break-word;
}

#post-adder {
    display: flex;
    justify-content: center;
    align-items: center;
}

#post-add {
    color: #3DAC78;
    background-color: #3C4142;
    border: none;
    font-size: 2em;
    margin: 0.3em;
}

#post-add:hover {
    color: #222324;
}

