legend {
    margin: 0.5em;
    border-radius: 0.5em;
    border: thin solid #3DAC78;
    padding: 0.5em 1em;
    background-color: #3C4142;
}

.headline {
    display: flex;
}

img {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    border: thin solid #3DAC78;
    background-color: #222324;
    display: block;
}

.menu {
    height: 100%;
    background-color: #222324;
}

.options * {
    display: block;
}

fieldset {
    border-radius: 0.5em;
    padding: 0.5em;
    background-color: #3C4142;
    border: thin solid white;
}

div {
    background-color: #3C4142;
    padding: 0.4em;
}

button {
    margin: 0.4em;
    padding: 0.4em;
    border: thin solid #3DAC78;
    background-color: #3DAC78;
    color: white;
    border-radius: 0.4em;
    vertical-align: center;
}

button:hover {
    border: thin solid white;
    cursor: pointer;
}

button.delete-profile:hover {
    background-color: red;
    color: black;
    border: thin solid red;
}

.posts {
    padding: 1 1.5em;
}

#secret {
    display: none;
}

span {
    background-color: #222324;
    padding: 0.4em 0.8em;
    margin: 3em 0;
    border-radius: 0.5em;
}
